body {
    margin: 0;
    padding: 0;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-align: center;
}
button {
margin-left: 10px;
}
form {
    display: inline-block;
}